* {
  margin: 0;
  padding: 0.5em;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

button {
  color: white;
  background-color: black;
  border: none;
  padding: 0.75em 1em;
}

.header-nav {
  height: 40px;
  display: flex;
  align-items: stretch;
  justify-content: center;
  background-color:  #0c0c1f;
  padding: 0px;
}

.header-nav-link {
  background-color: #0c0c1f;
  box-shadow: inset 0 -3px 0 0 #7a7a9e;
  color: #fff;
  font-weight: 700;
  margin: 0 25px;
  text-decoration: none;
}

.header-nav-link:hover {
  box-shadow: inset 0 -4px 0 0 #7a7a9e;
  color: #fff;
  padding-bottom: 6px;
}

.current-header-nav-link {
  background-image: linear-gradient(#0c0c1f, #7a7a9e);
  box-shadow: inset 0 -3px 0 0 #fff;
}

.current-header-nav-link:hover {
  box-shadow: inset 0 -4px 0 0 #fff/*, inset 0 4px 0 0 #7a7a9e*/;
}
